<div class="side-nav">
  <div class="logo">
    <h1>Terry H</h1>
    <span>泰莉·国际</span>
  </div>
  <div class="nav">
    <div class="nav-group">
      <h3 (click)="openDrawer()">流程 | Process</h3>
      <div class="nav-item">
        <a routerLink="/process/list">所有流程 | Process List</a>
      </div>
      <div class="nav-item">
        <a routerLink="/process/edit">创建流程 | Create Process</a>
      </div>
    </div>
    <div class="nav-group">
      <h3>数据 | Data</h3>
      <div class="nav-item">
        <a routerLink="/table/list">所有数据表 | Table List</a>
      </div>
      <div class="nav-item">
        <a routerLink="/table/edit" >创建表 | Create Table</a>
      </div>
    </div>
  </div>
</div>
