<div class="container">
  <h1>所有流程</h1>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          下单流程
        </mat-panel-title>
        <mat-panel-description>
          状态：进行中
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>当前节点：配货</p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          下单流程
        </mat-panel-title>
        <mat-panel-description>
          状态：进行中
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>当前节点：配货</p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          下单流程
        </mat-panel-title>
        <mat-panel-description>
          状态：进行中
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>当前节点：配货</p>
    </mat-expansion-panel>
  </mat-accordion>
</div>
